.header-container {
  margin: 0;
  width: 100%;
  /*background-image: url('../../images/lines.png');*/
}

.profile {
  margin: 50px 0;
}

.profile-pic {
  margin-right: 20px;
  width: 125px;
  height: auto;
}

.header2 {
  background-color: white;
  height: 50px;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
