.header {
  background-color: white;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.icon {
  margin-left: 20px;
  width: 30px;
}

.save-video {
  width: 150px;
  height: 40px;
  background-color: white;
  border: 2px solid black;
  margin: 20px 0px 10px 40px;
  font-family: Apercu;
  font-size: 16px;
  /*border-radius:25px;*/
}

.save-video:hover {
  background-color: black;
  color: white;
}

.video-detail-page {
  display: flex;
  flex-direction: row;
}

hr {
  margin: 40px;
  border: 1px solid black;
}

#header-title-span {
  font-size: 20px;
}
