.login {
  background-image: url(./../../images/static.gif);
  background-size: cover;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 100px 0px;
}

.auth {
  width: 250px;
  height: 100px;
  background-color: white;
  border: 10px solid black;
  font-size: 35px;
  text-decoration: none;
  font-family: Apercu Bold;
}

.auth:hover {
  background-color: black;
  color: white;
}

.title {
  margin: 0;
  color: white;
  font-size: 100px;
  font-family: Apercu Bold;
}

#title-span {
  font-size: 70px;
}
