.user .video-list {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.user .media-body {
  margin-left: 10px;
  margin-top: 5px;
}

.user .media-left img{
  width: 35vw;
}

.user .tiles {
  margin-bottom: 10px;
}

.user .media-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.user .remove-button {
  margin-right: 10px;
}

.list-group-item {
  margin: 10px 0px;
}
