.video-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.media-body {
  margin-left: 10px;
  margin-top: 5px;
}

.media-left img{
  width: 35vw;
}

.tiles {
  margin-bottom: 10px;
}
